GEMINI_API_KEY=AIzaxxxxxxxxxxxxxxxxxxxxxxxxxx



# Instagram Cookie Variables
# Set these manually using your actual Instagram session cookies to authenticate headless scraping
IG_SESSIONID=xxxxxxxxxxxxxxxxxx
IG_DS_USER_ID=xxxxxxxxxxxxx
IG_CSRFTOKEN=xxxxxxxxxxx
APIFY_API_TOKEN=apify_api_xxxxxxxxxxxxxxxxxx
USE_MOCK_DATA=TRUE
